* {
  box-sizing: border-box;
}

html, body {
  font: 16px Arial;  
  background-color: #292929;
  color: white;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin: 25px auto;
}

h4 {
  font-size: 30px;
}

h1, h4, button {
  font-weight: bolder;
}

input {
  border: 1px solid transparent;
  background-color: #ffffff;
  padding: 10px;
  font-size: 25px;
}

input[type=text] {
  width: 100%;
  border-radius: 20px;
}

button {
  position: relative;
  background-color: #0075ff;
  color: black;
  border: 3px #0075ff solid;
  border-radius: 20px;
  outline: 0;
  padding: 10px 15px;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px auto; 
  display: block;
  /* transition: 0.2s ease-in-out; */
  overflow: hidden;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
button:hover {
  color: #0075ff;
}
button:before {
  content: "";
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.2s ease-in-out;
}
button:hover:before {
  top: 0;
}

.autocomplete {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  color: black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /* top: 100%; */
  left: 0;
  right: 0;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 20px;
}

.autocomplete div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #0075ff !important; 
  color: #ffffff; 
}


#main {
  margin: 10vh 10vw;
}

.searchRow {
  margin-bottom: 15px;
}

.searchDiv {
  margin: 10px auto;
}

#info {
  background-color: #0ce600; 
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  transition: 0.3s ease-in-out;
}

#results {
  margin: 60px auto 0;
}

.resultBox {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  display: table;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@keyframes slide-in {
	0% {
			opacity: 0;
      /* transform: translateY(200px); */
      transform: scale(0.6) translateY(20px);
	}
	100% {
			opacity: 1;
			/* transform: translateY(0); */
	}
}


.loading {
  font-size: 30px;
}

#info.loading {
  width: 210px;
  text-align: left;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}


