:root {
  --blue: #0075ff; /* #0075ff */
  --green: #00c900; /* #38ff38 */
  --grey: rgb(48, 48, 48); /* #575757 */
}

::selection {
  background: var(--blue); /* highlight colour */
}
::-moz-selection {
  background: var(--blue); /* highlight colour */
}

* {
  box-sizing: border-box;
}

html, body {
  font: 16px Arial;  
  background-color: #8a8a8a;
  color: black;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin: 25px auto;
}

h4 {
  font-size: 30px;
}

h1, h4, button {
  font-weight: bolder;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--blue);
}

input {
  border: 1px solid transparent;
  background-color: var(--grey);
  padding: 8px 10px;
  font-size: 25px;
}

input[type=text] {
  width: 100%;
  border: 4px var(--grey) solid;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 20px;
  color: white;
}

button {
  position: relative;
  background-color: var(--blue);
  color: white;
  border: 4px var(--blue) solid;
  border-radius: 20px;
  outline: 0;
  padding: 10px 15px;
  font-size: 25px;
  text-transform: uppercase;
  margin: 10px auto; 
  display: block;
  /* transition: 0.2s ease-in-out; */
  overflow: hidden;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
button:focus,
button:hover {
  color: var(--blue);
}
button:before {
  content: "";
  position: absolute;
  background: var(--grey);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.2s ease-in-out;
}
button:hover:before, 
button:focus:before {
  top: 0;
}

#main {
  margin: 75px auto;
  padding: 0 20px;
  max-width: 1150px;
}

.autocomplete {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  color: black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: 0;
  right: 0;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 20px;
}

.autocomplete div {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
  background-color: #fff; 
  border-top: 2px solid var(--blue); 
}

/*when hovering an item:*/
.autocomplete div:hover {
  background-color: #e2e2e2; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--blue) !important; 
  color: #ffffff; 
}

.searchRow {
  margin-bottom: 15px;
}

.searchDiv {
  margin: 10px auto;
}

#info {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  animation: slide-in 0.2s ease-in-out;
  background-color: var(--grey);
  border: 4px var(--green) solid;
}

#results {
  margin: 60px auto 0;
}

.resultBox {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--grey);
  border-radius: 20px;
  color: white;
  display: table;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@keyframes slide-in {
	0% {
			opacity: 0;
      /* transform: translateY(200px); */
      transform: scale(0.6) translateY(20px);
	}
	100% {
			opacity: 1;
			/* transform: translateY(0); */
	}
}


.loading {
  font-size: 30px;
}

#info.loading {
  text-align: left;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}


